:root{
    --color-white:#fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-orange: #ffa500;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--color-dark1);
    color: var(--color-white);
}

.img_logo_header{
    width: 45px;
    display: relative;
    flex-direction: row;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation_header{
    gap: 3em;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-orange);
    transition: -1s;
    font-weight: bold;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.active{
    background-color: var(--color-dark3);
    padding:10px;
    border-radius: 10px;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulo-pagina {
    text-transform: uppercase;
    text-decoration: underline #d0ff00b7;
    text-align: center;
    padding-top: 10px;
}

.paragrafoprincipal{
    text-align:right;    
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

.paragrafobeneficios{
    text-align: left;
    margin-left: 10px;
}

.itens {
    font-style: italic;
}

.beneficiosgasolinacomum{
    display: inline-block;
    width: 20%;
}

.imagembeneficios {
    width: 50%;
}

.slogan{
    text-align: center;
}

.copyright {
    text-align: center;
}